@import "variables";

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: $main-text !important;
  font-size: $font-2;
}

body,
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd,
figure,
div,
footer,
aside,
main,
input,
label,
datalist {
  margin: 0 !important;
}

.login {
  .esquecer-senha a,
  label,
  footer, input {
    font-size: 0.8rem;
  }
  .logo-login {
    width: 55%;
    height: 2.5rem;
  }
}

.main-title {
  font-size: 1.7rem;
  color: $highlight-color;
}

.tooltip-inner {
  background-color: $main-text;
  color: #fff;
  font-size: $font-2;
  margin: 0.6rem !important;
}

.tooltip-arrow {
  display: none !important;
}

table tr {
  font-size: $font-3 !important;
}

label {
  color: $main-text-bold;
  font-weight: 600;
  font-size: $font-3;
}

input,
textarea,
select {
  background-color: rgba(92, 110, 154, 0.09) !important;
  border: none !important;
  color: $main-text-bold !important;
  font-weight: 300 !important;
  border-radius: 2px !important;
  box-shadow: 0 0 6px -15px rgba(0,0,0,0.1);
  &:focus {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1) !important;
  }
}

button[type=submit] {
  background-color: $main-text-bold;
  border-color: $main-text-bold;
  &:hover {
    background-color: $main-text;
    border-color: $main-text;
  }
}

.modal-dialog {
  margin: auto !important;
}

@media (min-width: 992px){
  main {
    margin-left: 16.6667% !important;
  }
}

@media (min-width: 2000px){
  .corpo-documento {
    padding: 0 20rem 0 20rem !important;
  }
  .login {
    section:nth-child(2) {
      padding: 0 5rem 0 5rem !important;
    }
    .logo-login {
      width: 60%;
      height: 4rem;
    }
  }
}
