@import "variables";

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: $secondary-extra-light !important;
  font-size: $font-2;
  letter-spacing: 0.03rem;
}

body,
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd,
figure,
div,
footer,
aside,
main,
input,
label,
datalist {
  margin: 0 !important;
}

.login {
  .link-forget-password a,
  label,
  footer, input {
    font-size: 0.8rem;
  }
  .logo-login {
    width: 55%;
    height: 2.5rem;
  }
}

.main-title {
  font-size: 1.8rem;
  color: $danger;
}

.tooltip-inner {
  background-color: $secondary-extra-light;
  color: #fff;
  font-size: $font-2;
  margin: 0.6rem !important;
}

.tooltip-arrow {
  display: none !important;
}

table tr {
  font-size: $font-3 !important;
}

label {
  color: $secondary-extra-light;
  font-weight: 600;
  font-size: $font-3;
}

input,
textarea,
select {
  background-color: rgba(92, 110, 154, 0.09) !important;
  border: none !important;
  color: $secondary-extra-light !important;
  font-weight: 300 !important;
  border-radius: 2px !important;
  box-shadow: 0 0 6px -15px rgba(0,0,0,0.1);
  &:focus {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1) !important;
  }
}

button[type=submit] {
  background-color: $secondary-extra-light;
  border-color: $secondary-extra-light;
  &:hover {
    background-color: $secondary-extra-light;
    border-color: $secondary-extra-light;
  }
}

.modal-dialog {
  margin: auto !important;
}

.dropdown-menu a {
  font-size: $font-2;
  &:hover {
    background-color: $body-tertiary;
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2055;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
}

/* Define a barra de rolagem */
/* Para navegadores WebKit */
::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

@media (min-width: 992px){
  main {
    margin-left: 16.6667% !important;
  }
}

@media (min-width: 2000px){
  .login {
    section:nth-child(2) {
      padding: 0 5rem 0 5rem !important;
    }
    .logo-login {
      width: 60%;
      height: 4rem;
    }
  }
}
