@import "variables";

#sidebarMenu {
  position: relative;
  overflow: hidden;
  font-size: $font-2 !important;

  .new-article {
    border-color: $danger;
    color: $danger;
    font-weight: 600;
    transition: 0.7s;
    font-size: 0.9rem;
    &:hover {
      background-color: $danger-light !important;
      border-color: $danger-light !important;
      color: $white;
      transition: 0.7s;
    }
  }

  ul:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.logo-dark {
  display: none;
}

body.dark-theme {
  .new-article {
    border-color: $white !important;
    color: $white !important;
  }

  .logo-dark {
    display: block;
  }

  .logo-light {
    display: none;
  }

  .navbar-toggler-icon {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg); /* Altera a cor do ícone */
  }
}

#navbarMenu {
  .input-group {
    position: relative;

    input {
      padding-left: 40px;

      &::placeholder {
        color: $secondary-extra-light;
        font-weight: 300;
      }

      &:focus {
        border-color: $danger-extra-light;
      }
    }

    i {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      color: $secondary-extra-light;
      z-index: 100;
    }
  }
}

#sidebarMenu,
#navbarMenuMobile,
.offcanvas {
  figure img {
    width: 100% !important;
    height: 2.1rem !important;
  }
}

#sidebarMenu p,
#navbarMenu .user-profile p:nth-child(2),
#navbarMenu p,
#navbarMobileContent p {
  font-size: 0.7rem;
}

//#navbarMenu ul li i,
//#navbarMobileContent i:not(#toggleIconUser) {
//  color: $danger !important;
//}

@media (max-width: 1200px){
  #sidebarMenu {
    .new-article {
      font-size: 0.8rem;
      i {
        display: none !important;
      }
    }
  }
}
