// Cores do Projeto
$white: #FFFFFF;

$secondary: #2F3F67;
$secondary-extra-light: #5C6E9A;

$body-tertiary: #F2F2F7;

$danger: #BB0404;
$danger-light: #EB2E64;
$danger-extra-light: #F04855;

.light-theme {
  .bg-body-tertiary {
    background-color: #F2F2F7 !important
  }

  .bg-white {
    background-color: #FFFFFF !important;
  }

  .bg-secondary-extra-light {
    background-color: #d9dbe0 !important;
  }

  .text-white {
    color: #FFFFFF !important;
  }

  .text-secondary {
    color: #2F3F67 !important;
  }

  .text-secondary-extra-light {
    color: #5C6E9A !important;
  }

  .text-danger {
    color: #BB0404 !important;
  }

  .text-danger-light {
    color: #F04855 !important;
  }

  .text-danger-extra-light {
    color: #EB2E64 !important;
  }
}

.dark-theme {
  .bg-body-tertiary {
    background-color: #000000 !important
  }

  .bg-white {
    background-color: #000000 !important;
  }
}


// Tamanho da Fonte
$font-1: 1rem !important;
$font-2: 0.9rem !important;
$font-3: 0.8rem !important;

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 0.9rem !important;
}

.fs-3 {
  font-size: 0.8rem !important;
}

.fs-4 {
  font-size: 0.7rem !important;
}
