@charset "UTF-8";
.light-theme .bg-body-tertiary {
  background-color: #F2F2F7 !important;
}
.light-theme .bg-white {
  background-color: #FFFFFF !important;
}
.light-theme .bg-secondary-extra-light {
  background-color: #d9dbe0 !important;
}
.light-theme .text-white {
  color: #FFFFFF !important;
}
.light-theme .text-secondary {
  color: #11263C !important;
}
.light-theme .text-secondary-light {
  color: rgba(60, 60, 67, 0.6) !important;
}
.light-theme .text-secondary-extra-light {
  color: #5C6E9A !important;
}
.light-theme .text-danger {
  color: #BB0404 !important;
}
.light-theme .text-danger-light {
  color: #EB2E64 !important;
}
.light-theme .text-danger-extra-light {
  color: #F04855 !important;
}
.light-theme .text-active {
  color: #D0D1D2 !important;
}

.dark-theme .bg-body-tertiary {
  background-color: #1C1C1E !important;
}
.dark-theme .bg-white {
  background-color: #2C2C2E !important;
}
.dark-theme .bg-secondary-extra-light {
  background-color: #d9dbe0 !important;
}
.dark-theme .text-white {
  color: #FFFFFF !important;
}
.dark-theme .text-secondary {
  color: #FFFFFF !important;
}
.dark-theme .text-secondary-extra-light {
  color: rgba(235, 235, 245, 0.6) !important;
}
.dark-theme .text-danger {
  color: #FF7977 !important;
}
.dark-theme .text-danger-light {
  color: #F04855 !important;
}
.dark-theme .text-danger-extra-light {
  color: #EB2E64 !important;
}
.dark-theme .text-active {
  color: #D0D1D2 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 0.9rem !important;
}

.fs-3 {
  font-size: 0.875rem !important;
}

.fs-4 {
  font-size: 0.75rem !important;
}

.fs-5 {
  font-size: 0.5rem !important;
}

.fs-6 {
  font-size: 0.4rem !important;
}

.h1 {
  font-size: 1.875rem !important;
}

.h2 {
  font-size: 1.625rem !important;
}

.h3 {
  font-size: 1.375rem !important;
}

.h4 {
  font-size: 1.125rem !important;
}

.h5 {
  font-size: 1rem !important;
}

.h6 {
  font-size: 0.8rem !important;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #5C6E9A !important;
  font-size: 1rem;
}

body,
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd,
figure,
div,
footer,
aside,
main,
input,
select,
textarea,
label,
datalist {
  margin: 0 !important;
}

.login .link-forget-password a,
.login label,
.login footer, .login input {
  font-size: 0.8rem;
}
.login .logo-login {
  width: 55%;
  height: 2.5rem;
}

.tooltip-inner {
  background-color: #5C6E9A;
  color: #fff;
  font-size: 0.9rem;
  margin: 0.6rem !important;
}

.tooltip-arrow {
  display: none !important;
}

table tr {
  font-size: 0.875rem !important;
}

input,
textarea,
select {
  background-color: rgba(92, 110, 154, 0.09) !important;
  border: none !important;
  color: #5C6E9A !important;
  font-weight: 300 !important;
  border-radius: 2px !important;
  box-shadow: 0 0 6px -15px rgba(0, 0, 0, 0.1);
}
input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

button[type=submit] {
  background-color: #5C6E9A;
  border-color: #5C6E9A;
}
button[type=submit]:hover {
  background-color: #5C6E9A;
  border-color: #5C6E9A;
}

.modal-dialog {
  margin: auto !important;
}

.dropdown-menu a {
  font-size: 0.9rem;
}
.dropdown-menu a:hover {
  background-color: #F2F2F7;
}

body.dark-theme .dropdown-menu a:hover {
  background-color: rgba(60, 60, 67, 0.6);
  border-radius: 2px;
}
body.dark-theme .pagina-navegacao li.disabled a {
  color: #FFFFFF !important;
}
body.dark-theme .breadcrumb-item + .breadcrumb-item::before {
  color: #FFFFFF;
}
body.dark-theme input,
body.dark-theme textarea,
body.dark-theme select {
  color: #FFFFFF !important;
  background-color: rgba(92, 110, 154, 0.09) !important;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2055;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

button[type=submit]:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.bi-caret-up-fill,
.bi-caret-down-fill {
  color: #11263C !important;
}

.flag-image {
  width: 30px;
  height: 20px;
}

/* Define a barra de rolagem */
/* Para navegadores WebKit */
::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

@media (min-width: 992px) {
  main {
    margin-left: 16.6667% !important;
  }
}
@media (min-width: 2000px) {
  .login section:nth-child(2) {
    padding: 0 5rem 0 5rem !important;
  }
  .login .logo-login {
    width: 60%;
    height: 4rem;
  }
}
.light-theme .bg-body-tertiary {
  background-color: #F2F2F7 !important;
}
.light-theme .bg-white {
  background-color: #FFFFFF !important;
}
.light-theme .bg-secondary-extra-light {
  background-color: #d9dbe0 !important;
}
.light-theme .text-white {
  color: #FFFFFF !important;
}
.light-theme .text-secondary {
  color: #11263C !important;
}
.light-theme .text-secondary-light {
  color: rgba(60, 60, 67, 0.6) !important;
}
.light-theme .text-secondary-extra-light {
  color: #5C6E9A !important;
}
.light-theme .text-danger {
  color: #BB0404 !important;
}
.light-theme .text-danger-light {
  color: #EB2E64 !important;
}
.light-theme .text-danger-extra-light {
  color: #F04855 !important;
}
.light-theme .text-active {
  color: #D0D1D2 !important;
}

.dark-theme .bg-body-tertiary {
  background-color: #1C1C1E !important;
}
.dark-theme .bg-white {
  background-color: #2C2C2E !important;
}
.dark-theme .bg-secondary-extra-light {
  background-color: #d9dbe0 !important;
}
.dark-theme .text-white {
  color: #FFFFFF !important;
}
.dark-theme .text-secondary {
  color: #FFFFFF !important;
}
.dark-theme .text-secondary-extra-light {
  color: rgba(235, 235, 245, 0.6) !important;
}
.dark-theme .text-danger {
  color: #FF7977 !important;
}
.dark-theme .text-danger-light {
  color: #F04855 !important;
}
.dark-theme .text-danger-extra-light {
  color: #EB2E64 !important;
}
.dark-theme .text-active {
  color: #D0D1D2 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 0.9rem !important;
}

.fs-3 {
  font-size: 0.875rem !important;
}

.fs-4 {
  font-size: 0.75rem !important;
}

.fs-5 {
  font-size: 0.5rem !important;
}

.fs-6 {
  font-size: 0.4rem !important;
}

.h1 {
  font-size: 1.875rem !important;
}

.h2 {
  font-size: 1.625rem !important;
}

.h3 {
  font-size: 1.375rem !important;
}

.h4 {
  font-size: 1.125rem !important;
}

.h5 {
  font-size: 1rem !important;
}

.h6 {
  font-size: 0.8rem !important;
}

#sidebarMenu {
  position: relative;
  overflow: hidden;
  font-size: 0.9rem !important;
}
#sidebarMenu .new-article {
  border-color: #BB0404;
  color: #BB0404;
  font-weight: 600;
  transition: 0.7s;
  font-size: 0.9rem;
}
#sidebarMenu .new-article:hover {
  background-color: #EB2E64 !important;
  border-color: #EB2E64 !important;
  color: #FFFFFF;
  transition: 0.7s;
}
#sidebarMenu ul:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo-dark {
  display: none;
}

body.dark-theme .new-article {
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
}
body.dark-theme .logo-dark {
  display: block;
}
body.dark-theme .logo-light {
  display: none;
}
body.dark-theme .navbar-toggler-icon {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg); /* Altera a cor do ícone */
}

#navbarMenu .input-group {
  position: relative;
}
#navbarMenu .input-group input {
  padding-left: 40px;
}
#navbarMenu .input-group input::placeholder {
  color: #5C6E9A;
  font-weight: 300;
}
#navbarMenu .input-group input:focus {
  border-color: #F04855;
}
#navbarMenu .input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #5C6E9A;
  z-index: 100;
}

#sidebarMenu figure img,
#navbarMenuMobile figure img,
.offcanvas figure img {
  width: 100% !important;
  height: 2.1rem !important;
}

#sidebarMenu p,
#navbarMenu .user-profile p:nth-child(2),
#navbarMenu p,
#navbarMobileContent p {
  font-size: 0.7rem;
}

@media (max-width: 1200px) {
  #sidebarMenu .new-article {
    font-size: 0.8rem;
  }
  #sidebarMenu .new-article i {
    display: none !important;
  }
}
.light-theme .bg-body-tertiary {
  background-color: #F2F2F7 !important;
}
.light-theme .bg-white {
  background-color: #FFFFFF !important;
}
.light-theme .bg-secondary-extra-light {
  background-color: #d9dbe0 !important;
}
.light-theme .text-white {
  color: #FFFFFF !important;
}
.light-theme .text-secondary {
  color: #11263C !important;
}
.light-theme .text-secondary-light {
  color: rgba(60, 60, 67, 0.6) !important;
}
.light-theme .text-secondary-extra-light {
  color: #5C6E9A !important;
}
.light-theme .text-danger {
  color: #BB0404 !important;
}
.light-theme .text-danger-light {
  color: #EB2E64 !important;
}
.light-theme .text-danger-extra-light {
  color: #F04855 !important;
}
.light-theme .text-active {
  color: #D0D1D2 !important;
}

.dark-theme .bg-body-tertiary {
  background-color: #1C1C1E !important;
}
.dark-theme .bg-white {
  background-color: #2C2C2E !important;
}
.dark-theme .bg-secondary-extra-light {
  background-color: #d9dbe0 !important;
}
.dark-theme .text-white {
  color: #FFFFFF !important;
}
.dark-theme .text-secondary {
  color: #FFFFFF !important;
}
.dark-theme .text-secondary-extra-light {
  color: rgba(235, 235, 245, 0.6) !important;
}
.dark-theme .text-danger {
  color: #FF7977 !important;
}
.dark-theme .text-danger-light {
  color: #F04855 !important;
}
.dark-theme .text-danger-extra-light {
  color: #EB2E64 !important;
}
.dark-theme .text-active {
  color: #D0D1D2 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 0.9rem !important;
}

.fs-3 {
  font-size: 0.875rem !important;
}

.fs-4 {
  font-size: 0.75rem !important;
}

.fs-5 {
  font-size: 0.5rem !important;
}

.fs-6 {
  font-size: 0.4rem !important;
}

.h1 {
  font-size: 1.875rem !important;
}

.h2 {
  font-size: 1.625rem !important;
}

.h3 {
  font-size: 1.375rem !important;
}

.h4 {
  font-size: 1.125rem !important;
}

.h5 {
  font-size: 1rem !important;
}

.h6 {
  font-size: 0.8rem !important;
}

/*# sourceMappingURL=style.css.map */
