.light-theme .bg-body-tertiary {
  background-color: #F2F2F7 !important;
}
.light-theme .bg-white {
  background-color: #FFFFFF !important;
}
.light-theme .text-white {
  color: #FFFFFF !important;
}
.light-theme .text-secondary {
  color: #2F3F67 !important;
}
.light-theme .text-secondary-extra-light {
  color: #5C6E9A !important;
}
.light-theme .text-danger {
  color: #BB0404 !important;
}
.light-theme .text-danger-light {
  color: #F04855 !important;
}
.light-theme .text-danger-extra-light {
  color: #EB2E64 !important;
}

.dark-theme .bg-body-tertiary {
  background-color: #000000 !important;
}
.dark-theme .bg-white {
  background-color: #000000 !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 0.9rem !important;
}

.fs-3 {
  font-size: 0.8rem !important;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #5C6E9A !important;
  font-size: 0.9rem !important;
  letter-spacing: 0.03rem;
}

body,
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd,
figure,
div,
footer,
aside,
main,
input,
label,
datalist {
  margin: 0 !important;
}

.login .link-forget-password a,
.login label,
.login footer, .login input {
  font-size: 0.8rem;
}
.login .logo-login {
  width: 55%;
  height: 2.5rem;
}

.main-title {
  font-size: 1.7rem;
  color: #BB0404;
}

.tooltip-inner {
  background-color: #5C6E9A;
  color: #fff;
  font-size: 0.9rem !important;
  margin: 0.6rem !important;
}

.tooltip-arrow {
  display: none !important;
}

table tr {
  font-size: 0.8rem !important !important;
}

label {
  color: #5C6E9A;
  font-weight: 600;
  font-size: 0.8rem !important;
}

input,
textarea,
select {
  background-color: rgba(92, 110, 154, 0.09) !important;
  border: none !important;
  color: #5C6E9A !important;
  font-weight: 300 !important;
  border-radius: 2px !important;
  box-shadow: 0 0 6px -15px rgba(0, 0, 0, 0.1);
}
input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

button[type=submit] {
  background-color: #5C6E9A;
  border-color: #5C6E9A;
}
button[type=submit]:hover {
  background-color: #5C6E9A;
  border-color: #5C6E9A;
}

.modal-dialog {
  margin: auto !important;
}

.dropdown-menu a {
  font-size: 0.9rem !important;
}
.dropdown-menu a:hover {
  background-color: #F2F2F7;
}

/* Define a barra de rolagem */
/* Para navegadores WebKit */
::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

@media (min-width: 992px) {
  main {
    margin-left: 16.6667% !important;
  }
}
@media (min-width: 2000px) {
  .login section:nth-child(2) {
    padding: 0 5rem 0 5rem !important;
  }
  .login .logo-login {
    width: 60%;
    height: 4rem;
  }
}
.light-theme .bg-body-tertiary {
  background-color: #F2F2F7 !important;
}
.light-theme .bg-white {
  background-color: #FFFFFF !important;
}
.light-theme .text-white {
  color: #FFFFFF !important;
}
.light-theme .text-secondary {
  color: #2F3F67 !important;
}
.light-theme .text-secondary-extra-light {
  color: #5C6E9A !important;
}
.light-theme .text-danger {
  color: #BB0404 !important;
}
.light-theme .text-danger-light {
  color: #F04855 !important;
}
.light-theme .text-danger-extra-light {
  color: #EB2E64 !important;
}

.dark-theme .bg-body-tertiary {
  background-color: #000000 !important;
}
.dark-theme .bg-white {
  background-color: #000000 !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 0.9rem !important;
}

.fs-3 {
  font-size: 0.8rem !important;
}

#sidebarMenu {
  position: relative;
  overflow: hidden;
  font-size: 0.9rem !important !important;
}
#sidebarMenu .new-article {
  border-color: #BB0404;
  color: #BB0404;
  font-weight: 600;
  transition: 0.7s;
  font-size: 0.9rem;
}
#sidebarMenu .new-article:hover {
  background-color: #EB2E64 !important;
  border-color: #EB2E64 !important;
  color: #FFFFFF;
  transition: 0.7s;
}
#sidebarMenu ul:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#navbarMenu .input-group {
  position: relative;
}
#navbarMenu .input-group input {
  padding-left: 40px;
}
#navbarMenu .input-group input::placeholder {
  color: #5C6E9A;
  font-weight: 300;
}
#navbarMenu .input-group input:focus {
  border-color: #F04855;
}
#navbarMenu .input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #5C6E9A;
  z-index: 100;
}
#navbarMenu .nav-title {
  font-size: 1.7rem;
  color: #5C6E9A;
}

#sidebarMenu figure img,
#navbarMenuMobile figure img,
.offcanvas figure img {
  width: 100% !important;
  height: 2.1rem !important;
}

#sidebarMenu p,
#navbarMenu .user-profile p:nth-child(2),
#navbarMenu p,
#navbarMobileContent p {
  font-size: 0.7rem;
}

#navbarMenu ul li i,
#navbarMobileContent i:not(#toggleIconUser) {
  color: #BB0404 !important;
}

@media (max-width: 1200px) {
  #sidebarMenu .new-article {
    font-size: 0.8rem;
  }
  #sidebarMenu .new-article i {
    display: none !important;
  }
}
.light-theme .bg-body-tertiary {
  background-color: #F2F2F7 !important;
}
.light-theme .bg-white {
  background-color: #FFFFFF !important;
}
.light-theme .text-white {
  color: #FFFFFF !important;
}
.light-theme .text-secondary {
  color: #2F3F67 !important;
}
.light-theme .text-secondary-extra-light {
  color: #5C6E9A !important;
}
.light-theme .text-danger {
  color: #BB0404 !important;
}
.light-theme .text-danger-light {
  color: #F04855 !important;
}
.light-theme .text-danger-extra-light {
  color: #EB2E64 !important;
}

.dark-theme .bg-body-tertiary {
  background-color: #000000 !important;
}
.dark-theme .bg-white {
  background-color: #000000 !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 0.9rem !important;
}

.fs-3 {
  font-size: 0.8rem !important;
}

/*# sourceMappingURL=style.css.map */
